//Buttons and text-buttons

@mixin text-button {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: none;
    color: $c-white;

    &:hover {
        color: $c-blue;
        text-decoration: none;
    }

    &:active {
        color: $c-blue;
        text-decoration: none;
    }
}

@mixin text-button-icon {
    font-family: $font-primary;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: none;
    color: $c-primary;

    &:hover {
        color: $c-white;
        text-decoration: none;
    }

    &:active {
        color: $c-white;
        text-decoration: none;
    }
}

@mixin primary-button {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid $c-white;
    background-color: $c-white;
    padding: 13px 32px;
    @include border-radius(24px);
    color: $c-primary;

    &:hover {
        background-color: $c-blue;
        border: 2px solid $c-blue;
        color: $c-primary;
    }

    &:active {
        background-color: $c-blue;
        order: 2px solid $c-blue;
        color: $c-primary;
    }
}

@mixin secondary-button {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid $c-primary;
    background-color: $c-primary;
    padding: 13px 32px;
    @include border-radius(24px);
    color: $c-white;

    &:hover {
        background-color: $c-blue;
        color: $c-white;
    }

    &:active {
        background-color: $c-blue;
        color: $c-white;
    }
}

@mixin secondary-button-outline-white {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid $c-white;
    background-color: none;
    padding: 13px 32px;
    @include border-radius(24px);
    color: $c-white;

    &:hover {
        border: 2px solid $c-blue;
        color: $c-blue;
    }

    &:active {
        border: 2px solid $c-blue;
        color: $c-blue;
    }
}

@mixin secondary-button-outline-dark {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid $c-primary;
    background-color: none;
    padding: 13px 32px;
    @include border-radius(24px);
    color: $c-primary;

    &:hover {
        border: 2px solid $c-blue;
        color: $c-blue;
    }

    &:active {
        border: 2px solid $c-blue;
        color: $c-blue;
    }
}