// -- Paths
// -- horizontal rhytm
$horizontal-rythm-spacing-text: 10px;

// -- vertical rhytm
$vertical-rythm-spacing-component: 30px;
$vertical-rythm-spacing-text: 10px;

// -- page
$breakpoint-large-px: 800px;
$page-max-width: 1180px;
$page-small-width: 720px;