.homepage {
  .intro {
    padding: 90px 0 65px 0;

    .button-primary {
      @include primary-button();
      margin-top: 32px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 80px;
      }
    }
  }

  .family-container {
    padding: 92px 0 119px 0;
    background-color: $c-white;

    @include media-breakpoint-down(sm) {
      padding: 30px 0 40px 0;
    }

    .image-wrapper {
      margin-bottom: 58px;

      @include media-breakpoint-down(sm) {
        margin-top: 35px;
      }
    }

    .text-big,
    .text-medium,
    .text-smaller {
      text-align: center;
      color: $c-primary;

      span {
        font-weight: 700;
      }
    }

    .text-smaller {
      @include media-breakpoint-down(sm) {
        text-align: left;
        margin-bottom: 10px;
      }
    }

    button {
      margin-top: 24px;
      @include secondary-button-outline-dark();
    }
  }

  .how-container {
    position: relative;
    z-index: 1;
    text-align: center;

    .how-top-container {
      padding: 70px 0;
      background-color: $c-primary;
      position: relative;
      z-index: 1;

      @include media-breakpoint-down(sm) {
        padding: 60px 0;
      }
    }

    .how-bottom-container {
      background-color: $c-white;
      position: relative;
      z-index: 2;

      @include media-breakpoint-down(sm) {
        background-color: $c-primary;
        padding-bottom: 70px;
      }

      svg {
        position: absolute;
        top: -3vw;
        left: 0;
        width: 100%;
        height: 3vw;
        z-index: 1;

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      ul {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
        top: -42px;
        padding: 0 15px;
        @include media-breakpoint-down(sm) {
          display: block;
          top: 0;
          padding: 0;
        }

        li {
          background-repeat: no-repeat;
          background-position: top center;
          min-height: 300px;
          padding: 35px;
          position: relative;

          @include media-breakpoint-down(md) {
            padding: 20px;
          }

          @include media-breakpoint-down(sm) {
            background-size: 100% auto;
            background-position: left;
            min-height: inherit;
            padding-top: 50px;
          }

          &:first-child {
            width: 332px;
            background-image: url("../../images/Fita_HowTo_01.png");
            top: 28px;
            margin-right: 50px;

            @include media-breakpoint-down(sm) {
              background-image: url("../../images/M_Fita_HowTo_01.png");
              max-width: 359px;
              min-height: 230px;
              margin-right: 0px;
              width: 100%;
              top: inherit;
            }
          }

          &:nth-child(2n) {
            width: 350px;
            background-image: url("../../images/Fita_HowTo_02.png");
            height: 207px;
            top: 15px;
            padding-left: 60px;
            padding-right: 40px;
            margin-right: 90px;

            @include media-breakpoint-down(sm) {
              background-image: url("../../images/M_Fita_HowTo_02.png");
              max-width: 385px;
              min-height: 207px;
              margin-right: 0px;
              width: 100%;
              top: 0;
            }
          }

          &:nth-child(3n) {
            width: 373px;
            background-image: url("../../images/Fita_HowTo_03.png");
            top: 1px;

            @include media-breakpoint-down(sm) {
              background-image: url("../../images/M_Fita_HowTo_03.png");
              max-width: 336px;
              min-height: 201px;
              width: 100%;
              top: inherit;
            }
          }
        }
      }
    }
  }
  .fap-container {
    background-color: $c-white;
    padding: 90px 0;
    position: relative;
    z-index: 1;
    h2,
    p {
      color: $c-primary;
    }
    p a {
      display: inline;
    }
  }
  .counters-container {
    padding: 50px 0;
    background-color: $c-white;

    h2 {
      text-align: left;
      color: $c-primary;

      @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
      }
    }

    p {
      text-align: left;
      color: $c-primary;
    }

    .counters-title {
      font-weight: 700;
    }

    .counters {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 24px;
    }

    .logo {
      max-width: 160px;
      margin-right: 30px;

      img {
        width: 100%;
        margin-right: 0px;
      }
    }
  }
}
