.invitation-page {
  background: $c-white;

  p {
    color: $c-primary;
  }
  .img-hello {
    position: relative;
    left: 20px;
  }

  .invitation-container {
    h3 {
      text-align: center;
    }

    button {
      @include secondary-button();
      margin: 50px 0;
    }

    a {
      color: $c-primary;
      font-size: $font-size-smaller;
      letter-spacing: 1px;
      font-weight: 600;
      text-transform: uppercase;
    }

    small {
      margin-bottom: 8px;
    }
  }
}
